[submodule "CKEditor"]
	path = CKEditor
	url = git://github.com/noloh/CKEditor.git
[submodule "SyntaxHighlighter"]
	path = SyntaxHighlighter
	url = git://github.com/noloh/SyntaxHighlighter.git
[submodule "EmailHelper"]
	path = EmailHelper
	url = git://github.com/noloh/EmailHelper.git
[submodule "NavHandler"]
	path = NavHandler
	url = git://github.com/noloh/NavHandler.git
